<%= simple_form_for @expense, :html => {:class => "remote_form", 'data-for' => 'expense'}, :remote => true do |form|%>
      
      <div class="span2">
        <%=form.input :item_name, :placeholder  => "Fruits, Lunch, etc ...", :input_html => {:class => 'input_width'}%>
      </div>
      
       <div class="span2">
        <%=form.input :item_price, :placeholder => 'In Rupees', :input_html => {:class => 'input_width'}%>
       </div>
      
      
      <div class="span2">
        <%=form.input :category_id, :collection => ExpenseCategory.all.collect{|ec| [ec.name, ec.id]}, :prompt => "Select"%>
      </div>
      
     
      <div class="span2">
        <button class="button-orange fl default-button">Add</button>
      </div>
  
<% end %>

<%=javascript_tag "var formObj = new Form($('form#new_expense'))"%>

<!-- 

  <div class="control-group">
    <label class="" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>

-->

