<div class="block span12">

  <div id="registration" class="form-horizontal span7 fl">
      <h2 class="span7">Sign up Form </h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="fields span6">
        <%= f.label :email, :class => "span6"%>
        <%= f.email_field :email, :class => "span4" %>
      </div>

      <div class="fields span6">
        <%= f.label :password, :class => "span6" %>
        <%= f.password_field :password, :class => "span4" %>
      </div>

      <div class="fields span6">
        <%= f.label :password_confirmation, :class => "span6" %>
        <%= f.password_field :password_confirmation, :class => "span4" %>
      </div>

      <div class="button span4">
        <%= f.submit "Sign up" , :class => "button-orange fl default-button"%>
      </div>
    <% end %>
  </div>
</div>
<%#= render :partial => "devise/shared/links" %>
