<!DOCTYPE html>
<html>
<head>
  <title>ClaimExpenses</title>
  <!-- STYLESHEET -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true%>
  <!-- JAVASCRIPT -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header">
    <div class='wrap'>
      <div id="logo">
        <a href="<%=root_path%>">Claim Your Expenses</a>
      </div>
      <div id="ce_session_links">
        <% if user_signed_in? %>  
        <a href="" id="ce_username"><%=current_user.email%></a>
        <%=link_to "Log Out",  destroy_user_session_path, :id => "ce_session", :method => :delete%>
        <% else %>  
          <a href="/users/sign_in" id="ce_session">Sign In</a>
          <a href="/users/sign_up" id="ce_se">Sign Up</a>
        <% end %>
      </div>
    </div>
  </header>
  <section class="content container">
    <%= yield %>
  </section>
</body>
</html>
